<div class="container-fluid">

  <div class="row">

    <div class="col-6 mt-3" *ngFor="let industry of industries">
      <p-panel [header]="industry.name" [toggleable]="true">
        <ng-template pTemplate="icons" class="header-panel">

          <button pButton class="p-panel-header-icon p-link">
            <img src="../../assets/rahavard.png" class="header-panel-img" pTooltip="رهاورد" tooltipPosition="bottom"
              (click)="openFrameModal(industry.rahvardLink)">
          </button>

          <button pButton class="p-panel-header-icon p-link">
            <img src="../../assets/chartsaz.png" class="header-panel-img" pTooltip="چارت ساز" tooltipPosition="bottom"
              (click)="openFrameModal(industry.chartsazLink)">
          </button>

          <button pButton class="p-panel-header-icon p-link">
            <img src="../../assets/codal-32x32.png" class="header-panel-img" pTooltip="کدال" tooltipPosition="bottom"
              (click)="openFrameModal(industry.codalLink)">
          </button>

          <button pButton class="p-panel-header-icon p-link">
            <img src="../../assets/tablokhani.png" class="header-panel-img" pTooltip="تابلوخوانی"
              tooltipPosition="bottom" (click)="openFrameModal(industry.tablokhaniLink)">
          </button>

          <button pButton class="p-panel-header-icon p-link">
            <img src="../../assets/tsetmc.png" class="header-panel-img" pTooltip="tsetmc" tooltipPosition="bottom"
              (click)="openFrameModal(industry.tsetmcLink)">
          </button>

          <button pButton class="p-panel-header-icon p-link">
            <img src="../../assets/shakhesban.jpg" class="header-panel-img" pTooltip="شاخص بان" tooltipPosition="bottom"
              (click)="openFrameModal(industry.shakhesbanLink)">
          </button>

          <button pButton pButton pRipple icon="pi pi-book" class="p-panel-header-icon p-link p-button-rounded" pTooltip="یادداشت"
          (click)="noteBook(industry)">
          </button>
        </ng-template>

        <object width="100%" height="500px" [data]="industry.chartIndex | safaIframe" >
        <iframe [src]="industry.chartIndex | safaIframe" width="100%" height="500px" ></iframe>
        </object>
      </p-panel>
    </div>

  </div>

  <p-paginator [rows]="4" [totalRecords]="totalIndustries" [rowsPerPageOptions]="[4, 6 ,10,30,50,100]"
    (onPageChange)="paginate($event)"></p-paginator>
</div>