/* You can add global styles to this file, and also import other style files */
.p-datatable .p-datatable-thead > tr > th,
.p-datatable .p-datatable-tbody > tr > td {
  text-align: right;
}

.p-dropdown {
  width: 100%;
  height: 38px;
}

.stock-table {
  .p-datatable .p-datatable-thead > tr > th,
  .p-datatable .p-datatable-tbody > tr > td {
    text-align: right;
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    max-width: 166px !important;
  }
}

.pi-bookmark-fill {
  color: red;
}

.pi-star-fill {
  color: goldenrod;
}

.choosen-class {
  border: 1px solid !important;
}

.TopBar {
  display: none;
}

.p-menubar-end {
  margin-left: unset !important;
  margin-right: auto;
}

.pi-search {
  cursor: pointer;
}

.my-megamenu {
  .p-megamenu-col-12 {
    width: 20% !important;
  }
}
